# This file may be used to create a conda environment using:
# $ conda create --name <env> --file <this file>

python-telegram-bot==11.1.0
tensorflow==2.11.1
matplotlib==3.0.3
nltk==3.6.6
pillow==9.0.0
